/* Untuk PC */
@media all and (min-width: 1201px) {
  /* .fa fa-bars menu-icon {
    display: none !important;
  } */
  .header-right {
    display: none;
  }
}

/* Untuk Tablet */
@media all and (max-width: 768px) {
  /*Header left*/
  .header-left ul li {
    display: none;
  }
  .menu-icon {
    display: block;
  }
  /*Top wrapper*/

  .top-wrapper h1 {
    font-size: 3em;
  }
  .proyeks {
    width: 50%;
    margin: 0 auto;
    padding: 0 20px;
  }
  .sertifikats {
    margin: 0 auto;
    padding: 25px;
    width: 50%;
  }
  .logo {
    width: 300px;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 480px) {
  /* Tambahkan CSS untuk header-right */
  .header-left ul {
    display: none;
  }
  .menu-icon {
    display: block;
  }
  /* Font Top Wrapper */
  .content-wrapper {
    display: block;
  }
  .top-wrapper h1 {
    font-size: 2.5em;
    letter-spacing: 3px;
  }
  .top-wrapper h2 {
    font-size: 2em;
  }
  .logo {
    width: 200px;
  }
  .btn {
    padding: 12px 150px;
  }
  /* Tambahkan CSS untuk proyek */
  .proyeks {
    margin: 0 auto;
    padding-left: 25px;
    width: 100%;
  }
  .sertifikats {
    margin: 0 auto;
    padding: 25px;
    width: 100%;
  }
  .btn {
    padding: 12px 100px;
  }
}
