* {
  box-sizing: border-box;
}
button {
  background-color: rgba(34, 49, 52, 0.9);
  border: none;
  box-shadow: none;
}
body {
  color: rgba(255, 255, 255, 0.96);
  margin: 0 auto;
  font-family: "AvenirNext-Regular", "Lato", "Hirago KakuGothic ProN", Meiryo,
    sans-serif;
  background-color: #242424;
}
a {
  text-decoration: none;
}
img {
  border-radius: 10px;
}
header {
  background-color: rgba(34, 49, 52, 0.9);
  height: 65px;
  width: 100%;
  position: fixed;
  z-index: 10;
}
footer {
  color: white;
  background-color: rgba(34, 49, 52, 0.9);
  height: 100px;
  padding-top: 10px;
  width: 100%;
}
.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
/* Nav Bar */
.header-left {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  float: left;
  justify-content: space-between;
  margin-top: 0.3rem;
  padding: 15px auto;
}
.header-left h1 {
  font-size: 1.5em;
  color: white;
  letter-spacing: 0.3em;
}
.container a {
  color: #e8e2e2;
  display: block;
  padding: 0rem 0.5rem;
}

ul {
  padding-inline-start: 0px;
}
.header-left ul {
  margin-left: 2.5rem;
}
.header-left li {
  display: inline-block;
  list-style: none;
  padding-top: 0.3rem;
  padding-right: 2.5rem;
}
.header-left a:hover {
  background-color: grey;
}

.menu-icon {
  padding: 7px 0 !important;
}
.header-right {
  float: right;
}
.header-right ul li {
  list-style: none;
}
/* Contnet dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropbtn {
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content {
  background-color: rgba(34, 49, 52, 0.9);
  display: none;
  position: absolute;
  z-index: 1;
  min-width: 160px;
  margin-right: 1rem;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 8px 16px 0px rgba(246, 241, 241, 0.2);
  animation-name: dropdown;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  opacity: 0;
  left: -6rem;
}
@keyframes dropdown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.dropdown-content a {
  color: white;
  display: block;
  padding: 10px 16px;
  text-decoration: none;
}
.dropdown-content a:hover {
  background-color: #363636;
}
.dropdown-content.show {
  display: block;
}
.menu-icon {
  color: white;
  display: none;
  font-size: 50px;
}
.fa fa-bars menu-icon {
  margin: 0;
}
/* Scroll */
.scroll-to {
  display: block;
}

/* Isi Bagian atas */
/* .top-wrapper */
.top-wrapper {
  padding: 100px 0 100px 0;
  background-size: cover;
  color: white;
  text-align: center;
}

.container-top-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.text-wrapper {
  text-align: center;
}

.top-wrapper h1 {
  font-size: 5em;
  letter-spacing: 7px;
  line-height: 0;
}

.top-wrapper h2 {
  font-size: 2em;
  font-weight: 100;
}

.dot {
  font-family: "Lucida Grande";
  color: gold;
}

.logo {
  max-width: 200px;
  margin-left: auto;
}

/* Bagian Atas kedua */
.tentang-saya {
  background-color: #100f10;
  border-radius: 15px;
  color: white;
  text-align: center;
}
.heading {
  background-color: #8739f9;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.heading h2 {
  letter-spacing: 2px;
}
.tentang-saya h3 {
  padding-top: 40px;
}
.tentang-saya p {
  padding: 20px 40px;
  text-align: justify;
}
.proyek-wrapper {
  background-color: #100f10;
  border-radius: 15px;
  height: fit-content;
  padding-bottom: 80px;
  text-align: center;
  margin: 2rem auto;
  width: 100%;
  height: auto;
}
.project {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: fit-content;
}
.proyeks {
  float: left;
  margin: 0 2.5rem;
  width: 25%;
}
.proyek-icon {
  position: relative;
}
.proyek-icon img {
  width: 100%;
}
p,
.text-content {
  text-align: justify;
}
/* Sertifikat Syle */

.sertifikat-wrapper {
  /* background-color: #e8e2e2; */
  background-color: #100f10;
  border-radius: 15px;
  height: fit-content;
  padding-bottom: 80px;
  text-align: center;
  margin: 2rem auto;
  width: 100%;
  height: auto;
}
.heading h2 {
  color: rgba(255, 255, 255, 0.96);
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.sertifikat {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: fit-content;
}
.sertifikats {
  float: left;
  margin: 0 2.5rem;
  width: 25%;
}
.sertifikats h3 {
  color: rgba(255, 255, 255, 0.96);
}
.sertifikat-icon {
  position: relative;
}
.sertifikat-icon img {
  width: 100%;
}
/* Message Style */
.message-wrapper {
  background-color: white;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 0px;
}
.form-control {
  border-radius: 0.3rem;
  border: none;
  height: 2.5em;
  margin-bottom: 25px;
  opacity: 0.8;
  width: 75%;
}
.form-text {
  border-color: white;
  border-radius: 0.3rem;
  height: 5em;
  margin-bottom: 25px;
  opacity: 0.8;
  width: 75%;
}
.message {
  padding: 15px 40px;
  background-color: #5dca88;
  /* Ubah property cursor ke pointer */
  cursor: pointer;
  /* Ubah property box-shadow */
  box-shadow: 0 7px #b0b337;
}

.btn {
  padding: 12px 200px;
  background-color: yellow;
  margin-bottom: 40px;
  color: black;
  display: inline-block;
  opacity: 0.8;
  border-radius: 10px;
}
.btn:hover {
  opacity: 1;
}
.btn:active {
  box-shadow: none;
  position: relative;
  top: 5px;
  left: 0px;
}
.footer-left {
  float: left;
}
.footer-left h2 {
  font-size: 1.5em;
  color: white;
  letter-spacing: 0.3em;
}
.footer-right {
  float: right;
}
.footer-right a {
  display: block;
  color: #f7f5eb;
  font-size: small;
  padding: 5px;
  margin-bottom: 5px;
}
.footer-right a:hover {
  background-color: grey;
}
/* Social Media */
.soc-link {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}
/* .soc {
  position: relative;
  overflow: hidden;
  width: 140px;
  height: 50px;
  border-radius: 25px;
  border: 0;
  color: #f7f7f7;
  background-color: rgba(34, 49, 52, 0.9);
  font-family: "Poppins";
  cursor: pointer;
  transition: 0.2s;
}
.soc-text,
.soc-link {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}
.soc-text {
  gap: 10px;
  justify-content: center;
  color: inherit;
  font-size: 16px;
}
.soc-link {
  opacity: 0;
  justify-content: space-between;
  padding: 0 20px;
  transition: 0.2s;
}
.soc-link a {
  translate: 0 50px;
  transition: 0.3s;
}
.soc:hover {
  border-radius: 6px;
}
.soc :hover .soc-link {
  opacity: 1;
}
.soc:hover .soc-link a {
  translate: 0;
}
.soc:hover .soc-link a:nth-child(1) {
  transition-delay: 0.05s;
}
.soc:hover .soc-link a:nth-child(2) {
  transition-delay: 0.1s;
}
.soc:hover .soc-link a:nth-child(3) {
  transition-delay: 0.15s;
}
.soc:hover .soc-link a:nth-child(3) {
  transition-delay: 0.2s;
}
.soc:hover .soc-text {
  translate: 0 -100%;
} */
.clear {
  clear: left;
}
